a {
    text-decoration: none;
}

.container {
    max-width: 480px;
    margin: auto;
    padding: 15px;
    background: burlywood;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu_link {
    margin: 0 15px;
}
